<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:label="swapngive"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">

        <!-- Activité principale de l'application -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <!-- Déclaration du thème par défaut -->
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme"/>
                
            <!-- Déclaration du filtre d'intention pour l'écran de lancement -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Nécessaire pour générer GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2"/>

        <!-- Ajoutez ici votre clé API Google Maps -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyB0zTZeKwdZ0ACJHZB7tEUzQrU76d2m2no"/>

    </application>

    <!-- Déclaration des permissions requises -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    
    <!-- Permission pour l'accès à la caméra -->
    <uses-permission android:name="android.permission.CAMERA"/>
    
    <!-- Permission pour lire depuis le stockage externe -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    
    <!-- Permission pour écrire dans le stockage externe -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!-- Nécessaire pour interroger les activités qui peuvent traiter le texte -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>

</manifest>
